<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO DO List</title>
        <link rel="stylesheet" href="styles.css">
        <script src="toggle.js" defer></script>
    </head>

    <body>
        <div class="box" id="heading">
            <h1>
                <%=kindOfDay%>
            </h1>
        </div>
        <div class="box">
        <%for(let i=0; i<listOfItems.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%=listOfItems[i]%></p>
            </div>
        <%}%>
            <form action="\" method="post" class="item">
                <input type="text" value="" placeholder="New Task" name="todoitem">
                <button type="submit">+</button>
            </form>
            </div>
    </body>

</html>